div.statsbox {
    background-color: #ebe6b3;
    padding: 0px;
    border: solid 1px #d1d197;
    width: 100%;
    margin: 0px;
}

div.heading {
    margin: 0px;
    padding: 2px;
    background-color: #d1ca97;
    letter-spacing: 1px;
}

div.statsbox h2 {
    margin: 0px;
    padding: 0px;
    color: #605953;
    font-size: 12pt;
}

div.statsbox div.lefttab {
    float: left;
    width: 45%;
    border-right: 2px #cdbb8e solid;
}

div.statsbox div.righttab {
    float: left;
    width: 45%;

}

div.statsbox span.position {
    font-family: sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #404040;
}

span.location {
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: black;
}

table.navdata {
    width: 100%;
}

table.navdata caption {
    text-align: left;
    font-size: 10pt;
    font-weight: bold;
    background-color: #dbd6a3;
    padding: 2px;
    border: 2px #cdbb8e solid;
}

table.navdata th {
    width: 30%;
    background-color: #dbd6a3;
}

table.navdata td {
    text-align: center;
    font-family: fixed;
}


span.navinfo {
    color: #605953;
}


div.content {
    margin: 0px;
    padding: 3px;
    background-color: #d1ca97;
    border-top: 2px #cdbb8e solid;
    border-bottom: 2px #cdbb8e solid;
    text-align: left;
    font-size: 8pt;
    font-weight: bold;
}

div.reportbox {
    border-top: 2px #cdbb8e dashed;
    background-color: #dbd6a3;
    margin-top: 10px;
}

div.reportbox div.title {
    margin: 0px;
    padding: 3px;
    background-color: #d1ca97;
}

div.title p, div.title h2 {
    color: #9a5b3e;
    margin: 0px;
    font-size: 10pt;
}

div.reportbox div.text {
    margin: 6px;
}

div.text {
    font-size: 10pt;
}

h2.undertitle {
    font-size: 10pt;
}


li {
	font-family: fixed;
}
