# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform*
.terraform.lock.hcl
terraform.tfstate
*secrets*

# logs
*.log

# Directories
.terraform/

# SSH Keys
*.pem

# Backup files
*.bak

# Ignored Terraform files
*gitignore*.tf

# Ignore Mac .DS_Store files
.DS_Store

# Ignored vscode files
.vscode/
