@import url("image.css");
@import url("letters.css");
@import url("report.css");


#bar {
    display: none;
}

div.newslink {
    border: 1px solid black;
    padding: 5px;
}

div.heading, div.header {
    background: none;
}

div.header {
    border: 1px solid black;
}
table {
    margin-bottom: 10px;
}

td, th {
    border: solid 1px black;
    padding: 2px;
}

table.facts td, table.facts th {
    border: none;
    background: none;
}

th {
    background: #d0d0d0;
}

div.entry {
    border: solid 1px black;
    margin-bottom: 20px;
    padding: 5px;
}

div.graphics, div.tabmenu, #menu { display: none; }

div.entrybottom {
    margin: 0px;
    padding-right: 5px;
}

div.entrybottom p {
    margin: 0px;
    font-style: italic;
    text-align: right;
}

div.entrycontent {
    padding: 10px;
    margin-bottom: 20px;
}
div.contentblock {
    clear: left;
}


body {
    font-family: sans-serif;
    background: white;
}


div.picleft p, div.picright p {
    color: black;
}

p.imagetext {
    font-weight: bold;
    clear: left;
}

p.person {
    margin: 10px;
    float: left;
}

p.by {
    display: block;
}


